.input {
    border: none;
    background-color: var(--champagne-pink);
    color: var(--coffee);
    padding: 5px;
    margin: 5px auto;
    min-width: 300px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    outline-color: var(--white);
    transition: 0.5s all;
    display: block;

}

.input:focus {
    width: 50%;
}

.input::placeholder {
    color: var(--grey);
}